{
  BasedOnStyle: LLVM,
  UseTab: Never,
  IndentWidth: 4,
  BreakBeforeBraces: Attach,
  AllowShortIfStatementsOnASingleLine: false,
  AllowShortCaseLabelsOnASingleLine: false,
  IndentCaseLabels: false,
  ColumnLimit: 0,
  AccessModifierOffset: -4,
  NamespaceIndentation: All,
  FixNamespaceComments: false,
  AlignConsecutiveAssignments: false,
  AlignAfterOpenBracket: true,
  AlignTrailingComments: false,
  IndentPPDirectives: BeforeHash,
  SpaceAfterCStyleCast: true,
}
